<div role='row tabpanel'>
  <ul class='col-sm-2 nav nav-stacked' role='tablist'>
    <li role='presentation' class='active'>
      <a href='#personal' aria-controls='personal' role='tab' data-toggle='tab'> Personal</a>
    </li>
    <li role='presentation'>
      <a href='#contributions' aria-controls='contributions' role='tab' data-toggle='tab'>Contributions</a>
    </li>
    <li role='presentation'>
      <a href='#password' aria-controls='password' role='tab' data-toggle='tab'>Password</a>
    </li>
    <li role='presentation'>
      <a href='#settings' aria-controls='settings' role='tab' data-toggle='tab'>Account</a>
    </li>
  </ul>

  <div class='col-sm-9 tab-content'>
    <div role='tabpanel' class='tab-pane active' id='personal'><%= render 'personalPanel'%></div>
    <div role='tabpanel' class='tab-pane' id='contributions'><%= render 'contributionsBlock'%></div>
    <div role='tabpanel' class='tab-pane' id='password'><%= render 'passwordBlock'%></div>
    <div role='tabpanel' class='tab-pane' id='settings'><%= render 'accountBlock'%></div>
  </div>
</div>
