<div role='tabpanel' class='tab-pane' id='hlogs'>
  <h3>Heroku Logs</h3>
    <kbd>Recent Logs</kbd>
    <pre style='background-color: #090909; color: #2c9d0d;' class='pre-scrollable'><%=@logs%></pre>
</div>