<div role='tabpanel' class='tab-pane' id='confi'>
    <h3>Application Configuration</h3>

    <%= form_tag(app_settings_path, :method=>'post', :multipart => true) do %>
        <%= %>
    <%end%>
</div>