<div role='tabpanel' class='tab-pane' id='envir'>
  <h3>Environment Info</h3>
    <p>Environment: <%=Rails.env%></p>
    <p>HTTP User Agent: <%=@user_agent%></p>
    <p>User IP Address: <%=@remote_ip%></p>
    <p>Location: <%=@user_agent.inspect%></p>
</div>