<div role='tabpanel' class='tab-pane active' id='stats'>
  <h3>Statistics</h3>
    <p>Total # Reviews <%=@reviews_count%></p>
    <p>Total # Schools <%=@schools_count%></p>
    <p>Total # Users   <%=@users_count%></p>
</div>