<div role='tabpanel' class='tab-pane active' id='audit'>
  <h3>User Audits</h3>

  <table  class='table table-hover'>
    <thead>
    <tr>
      <th>Name</th>
      <th>Address # City # State</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @audits.each do |audit| %>
        <tr>
          <td><%= audit.subject_user_id%></td>
          <td><%= audit.operation%></td>
          <td><%= audit.created_at%></td>
          <td><%= audit.created_by_id%></td>
        </tr>
    <%end%>
  </tbody>
  </table>
</div>