<div class='form'>
  <h2>Sorry. No f-clue about this page. Click on the logo to </h2><p>(Page Not Found Error)</p>
  <%=image_tag('confused.gif', :alt=>'Confused!*', :align => 'middle', :title => 'title')%>
</div>