<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin panel' }) do |f| %>
    <h4 class="form-signin-heading">Please signin to write reviews.</h4>
    <label class='control-label'>Email</label>
    <%= f.email_field :email, :class=>'form-control', :placeholder=>'Enter Email',
                      :required=>true, autofocus:true%><br/>
    <label class='control-label'>Password</label>
    <%= f.password_field :password, :class=>'form-control', :placeholder=>'Password',
                         :required=>true, autocomplete: 'off'%><br/>
    <%= f.submit 'Log in', :class=>'btn btn-lg btn-block btn-primary'%>
<% end %>

