// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom-css";
@import "sticky-footer-navbar";

body {
  background: #eee;
}

.g-recaptcha {
  padding-bottom: 10px;
  margin-left: -15px;
}

.footer {
  background: #eee;
}

.notification-area{
  max-width: 70%;
  margin: 0 auto;
}

