// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom-css";
@import "sticky-footer-navbar";

body {
  background: #eee;
}

.g-recaptcha {
  padding-bottom: 10px;
  margin: -10px;
  transform:scale(0.77);
  transform-origin:0;-webkit-transform:scale(0.77);
  transform:scale(0.77);-webkit-transform-origin:0 0;
  transform-origin:0 0;
}

.footer {
  background: #eee;
}

.notification-area{
  max-width: 70%;
  margin: 0 auto;
}

