<div ng-controller="reviewsCtrl">

  <h3>Listing all reviews [Showing: {{reviews.length}}]</h3>

  <small>Click on the individual headline to see comments.</small>

  <table class='table table-condensed table-hover' style='border-collapse: collapse'>
  <thead>
    <tr>
      <th>Averaged</th>
      <th>Headline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody ng-repeat="review in reviews">
    <tr>

      <td>{{averages[reviews.indexOf(review)]}}</td>
      <td>{{review.headline}}</td>

      <td ng-show="review.is_approved==false"><button ng-click="approveReview(review)" type="button" class="btn btn-warning btn-xs">Approve</button></td>
      <td ng-show="review.is_approved!=false">Approved</td>

      <td><button type="button" class="btn btn-success btn-xs" data-toggle="collapse" data-target="#{{review.id}}" aria-expanded="false" aria-controls="collapseExample">show</button></td>
      <td><a href="/reviews/{{review.id}}/edit">Edit</a></td>
    </tr>

      <tr class='collapse' id={{review.id}}>
        <td colspan="5" class="review_comments">Comments: <i>{{review.any_comments}}. On {{review.created_at|date: 'MMM-dd, yy'}}.</i></td>
      </tr>

  </tbody>
</table>
<br/>

<%= link_to 'New Review', new_review_path %>
</div>

<style>
  .review_comments {
      color: #0000cc;
  }
</style>